md-input-container.md-block.question
  margin-bottom 0
.md-subheader
  .md-subheader-inner
    padding-left 3px
table.questions
  width 100%
tr.deleting
  opacity 0.3
  pointer-events none
  td
    a
      pointer-events none
.is-loading
  pointer-events none
  opacity 0.3
