body
  font-family 'Maven Pro','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif
  transition all 150ms ease-out
  opacity 0

body.resolved
  opacity 1

.no-q-logo
  padding-top 30px

md-toolbar
  .title
    a
      color #fff
      text-decoration none
.md-button.sumo-green:not([disabled])
  background-color #5bc739
  &:hover
  &:active
  &:focus
    background-color #5bc739
.md-button.md-raised.sumo-green:not([disabled])
  &:hover
  &:active
  &:focus
    background-color #87d955
.cursor-pointer
  cursor pointer
.admin-edit
  position absolute
  top -5px
  right -15px
md-radio-button:hover
  background-color rgba(63,81,181,.05)
.mgn-bottom-5
  margin-bottom 5px
.mgn-top-5
  margin-top 5px


.no-q-msg
  .title
  .sub-title
    text-align center
