$fs = 3em
$scale = 1


@media (min-width: 0) and (max-width: 480px)
  $scale = 0.5
  .no-q-msg
    .title
      font-size $fs * $scale
    .sub-title
      font-size $fs * $scale * 0.6
      padding-top $scale * 30px
@media (min-width: 481px) and (max-width: 767px)
  $scale = 0.65
  .no-q-msg
    .title
      font-size $fs * $scale
    .sub-title
      font-size $fs * $scale * 0.6
      padding-top $scale * 30px

@media (min-width: 768px) and (max-width: 1024px)
  $scale = 0.8
  .no-q-msg
    .title
      font-size $fs * $scale
    .sub-title
      font-size $fs * $scale * 0.6
      padding-top $scale * 30px

@media (min-width: 1024px)
  $scale = 1
  .no-q-msg
    .title
      font-size $fs * $scale
    .sub-title
      font-size $fs * $scale * 0.6
      padding-top $scale * 30px
